body{
	background-color:rgb(90,90,90);
}

.btn{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgb(50,50,50);
	border-width:2px;
	border-color: silver;
	height: 64px;
	width: 64px;
	border-radius:50%;
	float:left;
	position: relative;
}

.btn-disable{
	background-color: pink;
	box-shadow: 0px 0px 15px 3px rgba(255, 45, 100, 0.9);
}

.btn-enable{
	background-color: rgb(192, 240, 192);
}

.btnChat{
	border-width:2px;
	border-color: silver;
	height: 24px;
	width: 64px;
	border-radius:10%;
	position: relative;
}

#namer{
	font-family:segoe ui;
	font-weight:bold;
	font-size:20px;
	color:white;
}
.form-floating{
	width:80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.form-control{
	width:100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 60%;
	resize: none;
}

#totalDiv{
	padding: 10px;
	font-family:segoe ui;
	font-weight:bold;
	font-size:15px;
	color:white;
}

#sigBox{
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#subChat{
	padding: 4px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	overflow: auto;
}

#koyyNotice{
	padding-top: 15px;
	display: grid;
	float: left;
	width: 33%;
	overflow: auto;
	text-align: center;
}

#kfgoNotice{
	padding-top: 15px;
	display: grid;
	float: left;
	width: 33%;
	overflow: auto;
	position: relative;
	text-align: center;
}

#kvoxNotice{
	padding-top: 15px;
	display: grid;
	float: left;
	width: 33%;
	overflow: auto;
	text-align: center;
}
/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgb(50,50,50);
	border-width:2px;
	border-color: silver;
	height: 64px;
	width: 64px;
	border-radius:50%;
	float:left;
	position: relative;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
	outline: 2px solid #f00;
  }